@font-face {
    font-family: 'Groovy Modice';
    src: url('../fonts/GoovyModice.ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #D9E7F0;
}

.titre{
    color: #32478F;
    font-family: 'Goovy Modice', sans-serif;
    font-size: 50px;
}

.container {
    position: relative;
}

.date,
.client,
.facture {
    position: absolute;
    top: 107px;
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Segoe UI', sans-serif;
    color: rgb(14, 14, 14);
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(71, 71, 71, 0.3);

}

.date {
    right: 0;
    width: 300px;
    height: 90px;
    background-color: #ffffff;

    
}
input[type="date"] {
    border: 1px;
    background-color: #D9E7F0;
    height: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    border-radius: 4px;
    color: #32478F;
    padding: 5px;
    margin-top: -7px;
}
input[type="time"] {
    border: 1px;
    background-color: #D9E7F0;
    height: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    border-radius: 4px;
    color: #32478F;
    padding: 5px;
    margin-top: -7px;
    margin-left: 10px;
}

.client {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 164px;
    margin-top: 114px;
    right: 0;
}
.client input[type="text"],
.client input[type="email"],
.client input[type="number"] {
    border: 1px solid #ffffff;
    background-color: #D9E7F0;
    height: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    border-radius: 4px;
    color: #32478F;
    width: 259px;
    margin-bottom: 5px;
    padding: 10px;
}



.box {
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 508px;
    margin-top: 163px;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(71, 71, 71, 0.3);
    
}

.facture {
    background-color: rgb(255, 255, 255);
    right: 0;
    height: 350px;
    width: 300px;
    margin-top: 302px;
}

.soustitre {
    position: absolute;
    top: 108px;
    left: 14px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

.table {
    border: 1px;
    margin-bottom: 20px;
}

.table2 input[type="number"]{
    border: 1px solid #ffffff;
    background-color: #D9E7F0;
    height: 30px;
    font-family: 'Segoe UI', sans-serif;
    width: 48px;
    padding-left: 5px;
    color: #32478F;
}

.facture img {
    height: 33px;
    width: auto;
}

