@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre_Baskerville';
    src: url('../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.titre {
    color: #32478F;
    font-family: 'Libre_Baskerville', sans-serif;
    font-size: 30px;
    margin-top: 50px;

}

.container {
    position: flex;
}

.date,
.client {
    position: absolute;
    top: 107px;
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Segoe UI', sans-serif;
    color: rgb(14, 14, 14);
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(71, 71, 71, 0.3);

}

.date {
    width: 300px;
    height: 95px;
    background-color: #ffffff;
    margin-top: 50px;
    margin-top: 94px;
    margin-left: 137px;
}

input[type="date"] {
    border: 1px;
    background-color: #D9E7F0;
    height: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    border-radius: 4px;
    color: #32478F;
    padding: 5px;
    margin-top: -7px;
}

input[type="time"] {
    border: 1px;
    background-color: #D9E7F0;
    height: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    border-radius: 4px;
    color: #32478F;
    padding: 5px;
    margin-top: -7px;
    margin-left: 10px;
}

.client {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 213px;
    margin-top: 21px;

}

.client input[type="text"],
.client input[type="email"],
.client input[type="number"] {
    border: 1px solid #ffffff;
    background-color: #D9E7F0;
    height: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    border-radius: 4px;
    color: #32478F;
    width: 259px;
    margin-bottom: 5px;
    padding: 10px;
}

.box {
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 540px;
    margin-top: 163px;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(71, 71, 71, 0.3);
    margin-left: 137px;
}

.facture {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 520px;
    margin-top: 12px;
    padding-left: 40px;
    padding-top: 30px;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 7px;
    margin-left: 137px;
    font-size: 13px;
}

.soustitre {
    position: absolute;
    left: 14px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    font-size: 21px;
}

.soustitre2 {

    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    font-size: 21px;
    margin-top: 146px;
    margin-left: 137px;
}
.soustitre3 {

    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    font-size: 21px;
    margin-top: 146px;
    margin-left: 137px;
}

.table {
    border: 1px;
    margin-top: 162px;
    
}

.table2 input[type="number"] {
    border: 1px solid #ffffff;
    background-color: #D9E7F0;
    height: 30px;
    font-family: 'Segoe UI', sans-serif;
    width: 48px;
    padding-left: 5px;
    color: #32478F;
    
}

.facture img {
    height: 33px;
    width: auto;
}

.boutonAdd {
    background-color: #32478F;
    color: white;
    font-weight: 400;
    font-size: 15px;
    width: 79px;
    height: 33px;
    margin-top: 7px;
    margin-left: 178px;
    border-radius: 9px;
    border: none; 
    cursor: pointer;
}

.boutonAdd :hover {
    background-color: #e85b5b;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    color: #32478F;
}

.confirmBouton {
    background-color: #32478F;
    color: white;
    font-weight: 400;
    font-size: 15px;
    width: 90px;
    height: 33px;
    margin-left: 178px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    float: right;
    margin-right: 35px;
}