@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre_Baskerville';
    src: url('../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.back {
    margin-top: 170px;
    margin-left: 200px;
}

.soustitre {
    display: flex;
    font-family: 'Libre_Baskerville';
    color: #2F4590;
}

.table input[type="number"] {
    width: 52px;
    border: 1px solid #ffffff;
    background-color: #D9E7F0;
    border-radius: 4px;
    color: #32478F;
}

.soustitre2 {
    font-family: 'Libre_Baskerville';
    color: #2F4590;
    margin-top: 50px;
}

.date {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(47, 70, 144, 0.739);
    width: 300px;
    height: 100px;
    padding-top: 10px;
    font-family: 'Lato';
    border-radius: 5px;
    /* padding-left: 20px; */
}
 
.nextDate {
    display: flex;
    height: 34px;
    margin-top: 31px;
    margin-right: 14px;
    margin-left: -33px;
    
}

.nextDate input[type="date"],
.nextDate input[type="time"] {
    border: 1px solid #ffffff;
    background-color: #D9E7F0;
    border-radius: 4px;
    color: #32478F;
}

.titreDate {
    margin-bottom: 58px;    
    margin-left: 21px;
}

.table {
    display: flex;
    background-color: white;
    box-shadow: 0 2px 4px rgba(47, 70, 144, 0.739);
    margin-top: 10px;
    width: 800px;
    border-radius: 5px;

}

.table th,
.table td {
    width: 600px;
}

.box input[type="submit"] {
    background-color: #32478F;
    color: white;
    font-weight: 400;
    font-size: 15px;
    width: 150px;
    height: 33px;
    margin-left: 650px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.box {
    height: 700px;
}

.total {
    color: #32478F;
}