body {
    background-color: #D9E7F0;
    height: 1500px;
}

.container {
    position: relative;
}

.soustitre3 {

    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    font-size: 21px;
    margin-top: 146px;
    margin-left: 137px;
}

.facture {
    background-color: rgb(255, 255, 255);
    width: 553px;
    height: 560px;
    margin-top: 12px;
    padding-left: 40px;
    padding-top: 30px;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 7px;
    margin-left: 137px;
    font-size: 13px;
}

.boutonValider {
    margin-top: 10px;
    background-color: #252850;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}